default:
    autoload:
        '': %paths.base%/features/bootstrap
    suites:
        default:
            contexts:
                - FeatureContext:
                    parameters:
                        local:
                            folder: volumes/local
                            create: true
                        ftp:
                            host: localhost
                            username: gaufrette
                            password: gaufrette
                            port: 21
                            passive: true
                        s3:
                            key: asd
                            secret: asd
                            bucket_endpoint: true
                            endpoint: http://localhost:4569
                            region: us-west-2
                            version: 'latest'
                            bucket: 'gaufrette'
                        sftp:
                            login: gaufrette
                            password: gaufrette
                            port: 2222
                            host: localhost
                            folder: share
                        gridfs:
                            host: localhost
                            port: 27016
                            db: gaufrette
                        mogilefs:
                            host: localhost
                            port: 7001
                        dropbox:
                            consumerSecret: ~
                            token: ~
        appveyor:
            contexts:
                - FeatureContext:
                    parameters:
                        ftp:
                            host: localhost
                            username: filezilla
                            password: filezilla
                            port: 14147
                            passive: true
            filters:
                tags: @windows
